<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>User detail</title>
</head>
<body>
<div>
    <h1>Edit a user</h1>

    <form action="#" th:action="@{/user/{userId}/edit(userId=${user.id})}" th:object="${user}" method="post">
        <p>nom: <input type="text" th:field="*{nom}" value="${user.nom}" /></p>
        <p>prenom: <input type="text" th:field="*{prenom}" value="${user.prenom}" /></p>
        <p><input type="submit" value="Valider" /> <input type="reset" value="Annuler" /></p>
    </form>
    <br>
    <a th:href="@{/}"> Retour</a>
</div>
</body>
</html>