<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>Todo List</title>
	</head>
	<style>
	table, p, h1, li {
	    font-family: arial, sans-serif;
	    border-collapse: collapse;
	    width: 100%;
	}
	
	td, th {
	    border: 1px solid #dddddd;
	    text-align: left;
	    padding: 8px;
	}
	tr:nth-child(even) {
	    background-color: #dddddd;
	}
	</style>
	<body>
<div>
    <h1>Todo List</h1>

    <table>
		<tr>
			<td>Title</td>
			<td>Description</td>
			<td>Done</td>
		</tr>
        <tr th:each="todo : ${todos}" th:if="${!todos.isEmpty()}">
            <td th:text="${todo.title}"></td>
			<td th:text="${todo.description}"></td>
			<td th:if="${todo.done}">Yes</td><td th:if="${!todo.done}">No</td>
			<td>
				<form action="#" th:action="@{/user/{userId}/todo/{todoId}/delete(userId=${todo.userId},todoId=${todo.id})}" method="post">
					<p><input type="submit" value="Delete" /></p>
				</form>
			</td>
        </tr>
    </table>
	<div th:value="${todos}" th:if="${!todos.isEmpty()}">
		<form action="#" th:action="@{/user/{userId}/todo/create(userId=${todos[0].userId})}" method="get">
			<p><input type="submit" value="Add a todo" /></p>
		</form>
		<a th:href="@{/users}"> Retour</a>
	</div>
	<div th:if="${todos.isEmpty()}">
		<p>Todo List Empty</p></br>
		<a th:href="@{/users}"> Retour</a>
	</div>
</div>
</body>
</html>